.warranty
	padding-top: 30px
	padding-bottom: 227px
	&__title
		max-width: 650px
		margin-bottom: 93px
	&-wrap
		display: flex
		justify-content: space-around
		flex-wrap: wrap
	&-card
		text-align: center
		&__img
			display: flex
			justify-content: center
			align-items: center
			width: 270px
			height: 360px
			border: 20px solid $second-color
		&__text
			margin-top: 35px
			margin-bottom: 0
			font-size: 18px
			line-height: 24px
@media (max-width: 991px)
	.warranty
		padding-bottom: 100px
		&-card
			&__text
				margin-top: 30px
				margin-bottom: 45px
			&:last-child
				.warranty-card__text
					margin-bottom: 0
@media (max-width: 566px)
	.warranty
		padding-top: 48px
		padding-bottom: 88px
		&__title
			width: 235px
			margin-bottom: 49px
			line-height: 1.2
		&-card
			&__text
				font-size: 14px
				line-height: 1.2